body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.header{
  margin: 0;
  text-align: center;
}

nav {
  margin-top: 20px;
}

nav {
  margin-left: 50px;
}

.navbar a{
  text-decoration: underline;
  color: black;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.left-header{
  position: absolute;  
  text-align: center;
  color: black;
}

@font-face {
   font-family: myFont;
   src: url(Kollektif.ttf);
}

.left-header h1{
  position: absolute;
  font-family: myFont, sans-serif;
  left: 160px;
  top: 250px;
  font-size: 70px;
  font-weight: 500;
  
}

.left-header h3{
  font-family: Roboto, sans-serif;
  position: absolute;
  font-size: 20px;
  font-weight: 100;
  left: 250px;
  top: 370px;
}